@import url('fonts.css');

* {
    box-sizing: border-box;
}

:root {
    --chronicleDisplay: 'Chronicle Display';
    --bg: #0B1D26;
    --wei: #FFF;
    --accent: #FBD784;
    --bgBottomShadingHeight: 700px;
}

*::before {
    font-family: 'icons-brands';
    font-weight: 400;
}

body {
    background: var(--bg);
    color: var(--wei);
    max-width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover,
.insta:hover::before,
.twitt:hover::before {
    color: var(--accent);
}

.wrapper {
    position: relative;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 64px;

    z-index: 1;
    position: relative;
}

.logo {
    color: var(--wei);
    font-family: var(--chronicleDisplay);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: uppercase;
}

.header__nav-list {
    list-style-type: none;

    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.header__nav-item {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header__nav-list li {
    margin-right: 40px;
}
.header__nav-list li:last-of-type {
    margin-right: 0px;
}

.user {
    color: #FFF;
    font-family: Gilroy;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.user::before {
    font-family: 'icons';
    content: '\f2bd';
    font-weight: 300;
    margin-right: 8px;
}

.header__content {
    margin-top: 198px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: 1;
    position: relative;
}
.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    left: 0;
}
.socials__item {
    margin-bottom: 24px;
    color: var(--wei);
}
.socials__txt {
    display: inline-block;
    transform: rotate(90deg);
    margin-left: -25px;
    margin-bottom: 60px;

    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.insta::before {
    content: '\f16d';
    font-size: 24px;
}
.twitt::before {
    content: '\f099';
    font-size: 24px;
}

.header {
    position: relative;
}
.body-bg__item {
    position: absolute;
    width: 100%;
    display: block;
}
.body-bg__item--sky {
    top: 0;
    z-index: -13;
}
.body-bg__item--hill {
    top: 258px;
    z-index: -10;
}
.body-bg__item--mountains {
    top: 142px;
    z-index: -12;
}
.body-bg__item--top-shading {
    top: 0;
    z-index: -9;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(330deg, rgba(11, 29, 38, 0.00) 31.06%, #0B1D26 108.93%);
}
.body-bg__item--bottom-shading {
    top: 0px;
    z-index: -8;
    width: 100vw;
    height: var(--bgBottomShadingHeight);
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 61.38%);
}

.header__subtitle {
    color: var(--accent);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;

    display: flex;
    align-items: center;

    margin-bottom: 32px;
}
.header__subtitle::before {
    content: '';
    display: block;
    width: 72px;
    height: 2px;
    flex-shrink: 0;
    background: var(--accent);
    
    margin-right: 32px;
}
.header__title {
    color: var(--Wei, #FFF);
    font-family: Chronicle Display;
    font-size: 88px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px; /* 113.636% */
    text-transform: capitalize;
    
    margin-bottom: 32px;
}
.header__more {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
}
.header__more::after {
    font-family: 'icons';
    font-weight: 400;
    content: '\f309';
    font-size: 23px;
    
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: end;

    max-width: 132px;

    position: fixed;
    right: 0;
}
.content::after {
    content: '';
    width: 3px;
    height: 60px;
    background: var(--wei);
    position: absolute;
    top: 0;
    right: 0;
}
.content__item {
    color: #FFF;
    text-align: right;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-right: 32px;
    padding-left: 32px;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
    height: 60px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
}
.content__item:hover {
    color: var(--accent);
}

/* Эксперименты */
.main {
    font-size: 30px;
    color: transparent;
}

@media (max-width: 3999.9px) {
    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 845px;
    }
    .body-bg__item--mountains {
        top: 491px;
    }
    .body-bg__item--bottom-shading {
        height: 800px;
    }
}
@media (max-width: 1999.9px) {
    .header__content {
        margin-top: 100px;
    }
    .content__item {
        font-size: 16px;
        height: 50px;
    }
    .header__title {
        font-size: 66px;
        line-height: 80px;
    }

    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 575px;
    }
    .body-bg__item--mountains {
        top: 322px;
    }

}
@media (max-width: 1599.9px) {

    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 580px;
    }
    .body-bg__item--mountains {
        top: 365px;
    }

}
@media (max-width: 1399.9px) {
    .header__content {
        margin-top: 80px;
    }
    .header__title {
        font-size: 61px;
        line-height: 70px;
    }

    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 590px;
    }
    .body-bg__item--mountains {
        top: 380px;
    }

}
@media (max-width: 1199.9px) {
    .header__title {
        font-size: 51px;
        line-height: 60px;
    }

    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 570px;
    }
    .body-bg__item--mountains {
        top: 390px;
    }
}
@media (max-width: 991.9px) {
    .header__title {
        font-size: 39px;
        line-height: 49px;
        margin-bottom: 20px;
    }
    .header__subtitle {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .header__subtitle::before {
        width: 35px;
        height: 1.5px;
    }
    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 417px;
    }
    .body-bg__item--mountains {
        top: 290px;
    }
}
@media (max-width: 797.9px) {
    .header__title {
        font-size: 34px;
        line-height: 45px;

    }
    
    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 258px;
    }
    .body-bg__item--mountains {
        top: 142px;
    }
}
@media (max-width: 575.9px) {
    .header__title {
        font-size: 20px;
        line-height: 30px;
    }
    
    .body-bg__item--sky {
        top: 0;
    }
    .body-bg__item--hill {
        top: 258px;
    }
    .body-bg__item--mountains {
        top: 142px;
    }
}